@model dynamic

@{
    Layout = "_Cart";
}

@if (((IDictionary<String, object>)Model).ContainsKey("Message"))
{
    <h4>@Model.Message</h4>
}
else
{
<h4>Order no. @Model.Id</h4> 

<table>
    <tr>
        <th>No.</th>
        <th>Product</th>
        <th>Price per product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
        @{
            int counter = 1; 
        }
        @foreach (var lineItem in Model.Items)
    {
        <tr>
            <td>@counter</td>
            <td>@lineItem.Name</td>
            <td>@lineItem.Price</td>
            <td>@lineItem.Quantity</td>
                @{
                    decimal totalprice = lineItem.Quantity * lineItem.Price;
                    counter++;
                }
            <td>@totalprice</td>
        </tr>
    }   
    <tr>
        <td colspan="4"><strong>Total price: </strong></td>
        <td>@Model.Sum</td>
    </tr>
</table>
}