@model Codecool.CodecoolShop.Models.Checkout

<h4>Order no. @Model.OrderId:</h4>

<form asp-action="CheckoutForm" asp-controller="Cart" method="post" style="display:inherit">
    <div class="clientData">
        <h4>Personal data:</h4>
        @Html.HiddenFor(o => o.OrderId)
        @Html.Label("Name: ")
        @Html.EditorFor(o => o.Name)
        @Html.Label("E-mail: ")
        @Html.EditorFor(o => o.Email)
        @Html.Label("Phone number: ")
        @Html.EditorFor(o => o.PhoneNumber)
    </div>
    <div class="billingAddress">
        <h4>Billing address:</h4>
        @Html.Label("Country: ")
        @Html.EditorFor(o => o.BillingAddress.Country)
        @Html.Label("City: ")
        @Html.EditorFor(o => o.BillingAddress.City)
        @Html.Label("Zip Code: ")
        @Html.EditorFor(o => o.BillingAddress.ZipCode)
        @Html.Label("Street: ")
        @Html.EditorFor(o => o.BillingAddress.Street)
    </div>
    <div class="shippingAddress">
        <h4>Shipping address:</h4>
        @Html.Label("Country: ")
        @Html.EditorFor(o => o.ShippingAddress.Country)
        @Html.Label("City: ")
        @Html.EditorFor(o => o.ShippingAddress.City)
        @Html.Label("Zip Code: ")
        @Html.EditorFor(o => o.ShippingAddress.ZipCode)
        @Html.Label("Street: ")
        @Html.EditorFor(o => o.ShippingAddress.Street)
    </div>
    <input value="Save data" type="submit" />
</form>

