@model dynamic

@{
    Order order = new Order(1) { Id = 3, userId = 123, Items = new List<LineItem> { new LineItem("kubek", 2.12m), new LineItem("talerz", 15.03m, 6), new LineItem("sztuciec", 3.45m, 12)} }; //sztucznie zamodelowane, do usunięcia
}
<h4>Order no. @order.Id</h4> 

<table>
    <tr>
        <th>No.</th>
        <th>Product</th>
        <th>Price per product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @{ decimal sum = 0m; }
    @foreach (var lineItem in order.Items)//Model.Details)
    {
        <tr>
            <td>@lineItem.Id</td>
            <td>@lineItem.Name</td>
            <td>@lineItem.Price</td>
            <td>@lineItem.Quantity</td>
            @{
                decimal totalprice = lineItem.Quantity * lineItem.Price;
                sum = sum + totalprice;
            }
            <td>@totalprice</td>
        </tr>
    }   
    <tr>
        <td colspan="4"><strong>Total price: </strong></td><td>@sum</td>
    </tr>
</table>